= semantic_form_for @promotion do |f|
	= f.inputs do
		= f.input :position
		= f.input :employer
		= f.input :status, :as => :radio, :label => "Promotion status",
				:collection => [ ['Pending','pending'],
												 ['Got it!', 'yes'],
												 ['Denied', 'no']]
	= f.buttons