.promotion-row
	.promotion-text
		%b= link_to promotion.name, promotion
		= promotion_status_text promotion
		%b= promotion.position
		at
		%b= promotion.employer
		.promotion-time
			Updated
			= time_ago_in_words promotion.updated_at
			ago
		.promotion-controls
			- if is_signed_in_user?(promotion.uid)
				= link_to 'Show', promotion
				|
				= link_to 'Edit', edit_promotion_path(promotion)
				|
				= link_to 'Destroy', promotion, :confirm => 'Are you sure?', :method => :delete
