- title "Promotions"

%table
  %tr
    %th Position
    %th Employer
    %th Name
  - for promotion in @promotions
    %tr
      %td= promotion.position
      %td= promotion.employer
      %td= promotion.name
      %td= link_to 'Show', promotion
      %td= link_to 'Edit', edit_promotion_path(promotion)
      %td= link_to 'Destroy', promotion, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Promotion", new_promotion_path
