!!!
%html

	%head
		%title
			= yield(:title) || "Untitled"
		%meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
		= stylesheet_link_tag "application", 'formtastic', 'formtastic_changes'
		= javascript_include_tag :defaults
		= csrf_meta_tag
		= yield(:head)

	%body
		#container
			- flash.each do |name, msg|
				= content_tag :div, msg, :id => "flash_#{name}"

			#user_nav
				- if current_user
					#{ current_user.name }
					%br/
					= link_to "New promotion", new_promotion_path
					or
					= link_to "Sign out", signout_path
				- else
					= link_to image_tag('sign-in-with-twitter-d.png'), "/auth/twitter"
			

			- if show_title?
				%h1= yield(:title)

			= yield
